html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	align-items: center;
	background-color: #6495ed;
	background-image: linear-gradient(to bottom right, #6495ed, #0b275b);
	font-family: 'Overlock', sans-serif;
}

h1 {
	font-family: 'Chewy', serif;
	font-size: 3em;
	color: #9e1010;
	background-image: -webkit-linear-gradient(#9e1010, #295ac7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px black;
	line-height: 0.75em;
	height: 1.25em;
	padding: 0.15em 0 0.25em;
}

#dnd-example-container {
	display: block;
	width: 100%;
	text-align: center;
}

.anim-dashes {
	background-color: #c0c0c0;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #fff 10px, #fff 20px);
	width: 392px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	border-radius: 5px;
}

.anim-dashes-blank {
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

#dnd-target {
	height: 200px;
	margin: auto;
	position: relative;
	opacity: 0.6;
	transition: all 200ms;
}

#dnd-target.dnd-over {
	animation: dashes 5s linear infinite;
	border-color: #f00;
	background-color: #f00;
	opacity: 0.9;
}

#dnd-sources {
	display: block;
}

#dnd-sources > ul {
	width: 80%;
	margin: 2em auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

#dnd-sources > ul li {
	display: inline-block;
}

.dnd-draggable {
	width: 64px;
	height: 64px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: move;
	user-select: none;
}

.dnd-draggable#johnny {
	background-image: url("../images/toshl-johnny.png");
}

.dnd-draggable#dmitry {
	background-image: url("../images/toshl-dmitry.png");
}

.dnd-draggable#ales {
	background-image: url("../images/toshl-ales.png");
}

.dnd-draggable#andraz {
	background-image: url("../images/toshl-andraz.png");
}

.dnd-draggable#logar {
	background-image: url("../images/toshl-logar.png");
}

.dnd-draggable.dnd-destroying {
	position: absolute;
	top: 50%;
	margin-top: -32px;
	left: 50%;
	margin-left: -32px;
	animation: dying 2s;
}

.dnd-draggable.dnd-destroying:nth-child(2) {
	left: calc(50% - 160px);
}

.dnd-draggable.dnd-destroying:nth-child(3) {
	left: calc(50% - 80px);
}

.dnd-draggable.dnd-destroying:nth-child(4) {
	left: 50%;
}

.dnd-draggable.dnd-destroying:nth-child(5) {
	left: calc(50% + 80px);
}

.dnd-draggable.dnd-destroying:nth-child(6) {
	left: calc(50% + 160px);
}

@-moz-keyframes dashes {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 196px 0;
	}
}

@-webkit-keyframes dashes {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 196px 0;
	}
}

@-o-keyframes dashes {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 196px 0;
	}
}

@keyframes dashes {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 196px 0;
	}
}

@-moz-keyframes dying {
	from {
		transform: none;
	}

	to {
		transform: scale(0.3) rotate(1080deg);
		opacity: 0;
	}
}

@-webkit-keyframes dying {
	from {
		transform: none;
	}

	to {
		transform: scale(0.3) rotate(1080deg);
		opacity: 0;
	}
}

@-o-keyframes dying {
	from {
		transform: none;
	}

	to {
		transform: scale(0.3) rotate(1080deg);
		opacity: 0;
	}
}

@keyframes dying {
	from {
		transform: none;
	}

	to {
		transform: scale(0.3) rotate(1080deg);
		opacity: 0;
	}
}
