/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* CLASSES */
.flex-column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hidden {
    display: none;
}

/* IDs */
#mic {
    width: 60px;
    
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

#mic:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

#not-supported {
    color: #66ff00;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
}

#interim-span {
    color: #ffba00;
}

/* TAGS */
body {
    background-color: #db143c;
}

button {
    background-color: inherit;
    border: none;
    
    text-align: center;
}

button:hover {
    cursor: pointer;
}

em {
    color: #66ff00;
    font-style: normal;
    
    display: inline-block;
    margin-top: 5px;
}

h1 {
    color: #ffffff;
    font-family: 'Megrim', cursive;
    font-size: 6em;
    
    margin-bottom: 0;
}

p {
    color: #ffffff;
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
    text-align: left;
    
    padding-left: 10px;
}

span {
    color: #66ff00;
    font-family: 'Megrim', cursive;
    font-size: 2.5em;
    font-weight: 700;
    
    padding: 10px;
}