@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Poiret+One);

/* CLASSES */

/* Display */
.flex-center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

/* IDs */
#mic {
    width: 50px;
    
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

#mic:hover {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

/* TAGS */
body {
    background-color: #db143c;
}

button {
    background-color: inherit;
    border: none;
}

button:hover {
    cursor: pointer;
}

h1 {
    color: #ffffff;
    font-family: 'Megrim', cursive;
    font-size: 6em;
    
    margin-bottom: 0;
}

p {
    color: #ffffff;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    
    margin-bottom: 0.5em;
}

span {
    color: #66ff00;
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
}

textarea {
    color: #66ff00;
    font-family: 'Megrim', cursive;
    font-size: 2em;
    
    background-color: inherit;
    margin: .5em;
    border: 0;
    
    width: 80%;
    height: 200px;
}