
header {
  padding: 0px;
  width: 100%;
  height: 80px;
  background-color: black;
  opacity: 0.9;
  margin: 0px;
  font-size: 30px;
  text-align: center;
}
h1 {

  font-family: 'Cinzel Decorative', cursive;
  padding-top: 0px;
  font-size: 30px;
  margin: 0px;
  transform: translateY(15px);
  color: white;
}
.menu {

  font-family: 'Coda', cursive;
  font-size: 30px;
  width:100%;

  background-color: black;
  height: 60px;
  color: white;
}
.menu .logo img {
  float: left;
  height: 40px;
  padding: 10px 30px;
}
.menu > ul {
  margin: 0px;
  padding: 0px;
  width: 80%;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  -webkit-transition: max-height 0.3s ease-in;
  -ms-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}
.menu > ul > li {
/*float: left;*/
  display: inline-block;
  text-align: center;
  padding: 0px 5%;
  margin: 0 0px;
}
.item-menu {
  font-size: 16px;
  display: inline-block;
  padding: 10px 10px;
  line-height: 40px;
  color: white;
  text-decoration: none;
}

.item-menu:hover {
  background-color: #101010 ;
  color: white;
}
#campeonato:focus{
  background-color: #101010;
}

#campeonato:focus ~ .sub-conteudo {
  max-height: 100px;
  -webkit-transition: max-height 0.4s ease-in;
  -ms-transition: max-height 0.4s ease-in;
  -moz-transition: max-height 0.4s ease-in;
  -o-transition: max-height 0.4s ease-in;
  transition: max-height 0.4s ease-in;
}

.sub-conteudo {
  position: absolute;
  overflow: hidden;
  top: 140px;
  background-color: black;
  text-align: left;
  max-height: 0px;
  z-index: 100;
  -webkit-transition: max-height 0.3s ease-in;
  -ms-transition: max-height 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
}

.sub-conteudo a{
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.sub-conteudo a:hover{
  color: #101010 ;
}

.menu-sub {
  padding: 10px 20px;
}
.menu-sub ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.menu-sub ul li a {
  display: inline-block;
  padding: 5px 0px;
}

.tag-menu {
  display: none;
  background-color: #003366;
  cursor: pointer;
  padding: 10px;
}
.tag-menu p{
  margin-left: 30px;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 25px;
  text-align: left;
  font-family: 'Times New Roman', Georgia, Times, serif;
}

@media only screen and (max-device-width: 860px),
screen and (max-width: 860px){
  #corpo {
    background-image: none;
    background-color:  #809fff ;
  }
  header {
    opacity: 1;
  }
  header h1 {
    padding-top: 10px;
    font-size: 20px;
  }
  .logo{
    display: none;
  }
  .menu {
    display: inline;
    width: 100%;
    overflow: hidden;
    padding-top: 0px;
  }
  .menu > ul {
    width: 100%;
    max-height: 0px;
    display: inline-block;
  }
  .menu .aparece {
    max-height: 350px;
  }
  .tag-menu{
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .menu > ul > li{
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    text-align: left;
  }
  .menu > ul > li > a{
    width: 100%;
  }

  .sub-conteudo {
    position: relative;
    transform: translateY(-140px);
  }
  #campeonato:focus ~ .sub-conteudo {
    position: relative;
    -webkit-transition: max-height 0.3s ease-in;
    -ms-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
    -o-transition: max-height 0.3s ease-in;
    transition: max-height 0.3s ease-in;
  }

}
