footer {
  height: 200px;
  width: 100%;
  background-color: black;
  margin-top: 100px;
  margin-bottom: 0px;
}

.footer {
  float: right;
  margin-top: 30px;
  margin-right: 50px;
  list-style-type: none;
}

.footer > li{
  line-height: 3em
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}
.footer > li > img {
  margin-bottom: -5px;
  height: 25px;
  width: 25px;
}
.footer>li>a{
  margin-left: 20px;
  line-height: 3em
  font-family: sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
