
body {
    margin: 2% 5% 2% 5%;
    font-family:  "Arial","trebuchet ms";
    color: #FFFFFF;
    /*background-color: #504B4C;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#151417), to(#504B4C)) repeat-X;
    background: -moz-linear-gradient(top, #151417, #504B4C);
    -ms-linear-gradient(left,  #151417, #504B4C);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#151417, endColorstr=#504B4C);

    text-align: justify;
    border: 2px  dashed white;
    padding: 10px;
}

h1 {
    text-align: center;
}

#webcam, #canvas {
    width: 590px;
    height:450px;
      border: 2px  solid white;
    opacity: 0.60;
}

.buttons {
    width: 100px;
    height: 50px;
    border: 1px solid #333;
    color: #333;
    font-size: 16px;
}

.buttons:hover {
    background-color: #CCC;
    border: none;;
}


